# Authentication secrets
AUTH_SECRET="your_auth_secret"
AUTH_GITHUB_ID="your_github_id"
AUTH_GITHUB_SECRET="your_github_secret"
AUTH_GOOGLE_CLIENT_ID="your_google_client_id"
AUTH_GOOGLE_CLIENT_SECRET="your_google_client_secret"
AUTH_FACEBOOK_CLIENT_ID="your_facebook_client_id"
AUTH_FACEBOOK_CLIENT_SECRET="your_facebook_client_secret"

# NextAuth configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_nextauth_secret"
AUTH_TRUSTED_HOSTS: "localhost"